
main h3 {
    text-align: center;
}

.container .row {
    padding: 10px;
}

.enlarge {
    position: relative;
    
}

.enlarge:hover {
    transform: scale(2,2);
    transform-origin: right, top;
    z-index: 50;
}