html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url("images/cover_pouch.jpg")no-repeat fixed;
    background-size: cover;
    font-family: 'Chau Philomene One', sans-serif;

    
}

header {    
    background-color: #B55829;
    height: 100px;
    width: 100%;
}


#log {
    display: block;
    margin-left: 300px;
    border: 5px solid white;
    box-shadow: 5px 5px 20px white;
    border-radius: 200px;
    background-color: white;

}

.container {    
    background-color: rgba(192,192,192,0.3);
    margin-top: 200px;
    color: black;
    border: 2px solid none;
    box-shadow: 5px 5px 20px white;

 }

#side {
    float: right;
    font-size: 1.5em;
    margin: 10px;


}

#side ul {
    list-style-type: none;
    padding: 0;
}

#side li {
    margin: 0px 10px;
    display: inline;
    
}

#main {
    float: left;
    width: 50%;
    margin: 100px 50px 100px 50px;    
    font-size: 2em;

}

#main p{
    margin-top: 50px;
   
}
#support {
    margin: 100px 0px 100px 0px;
    float: left;
    color: black;
    text-align: center;
    font-size: 1.5em;
}

.pic {
    border: 2px solid black;
    border-radius: 300px;
    background-color: white;
    padding: 30px;
    margin: 20px 20px;

}    

#cont{
    margin-top: 20px;
}

#cont ul {
    list-style-type: none;
    text-align: right;
    font-size: 1.5em;
   

}



#author {
    clear: both;
    float: right;
}