html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url("images/cover_pouch.jpg")no-repeat fixed;
    background-size: cover;
    font-family: 'Eczar', serif;
    
}

/************brand*****************/
.navbar {
    height: 130px;
    background-color: #1A3164;
}
.navbar-header {
    margin: 0px 20px !important;
}
.navbar-brand {
    padding: 0px;
}
.log {    
    border: 5px solid white;
    border-radius: 200px;
    background-color: white;
    height: 130px;
    
}

#cont{
    margin-top: 20px;
    color: white;
}

#cont ul {
    list-style-type: none;
    text-align: right;
    font-size: 1.5em;
    padding: 10px;
}

/*********************************/

.container {
        
    background-color: rgba(192,192,192,0.5);
    margin: 100px auto;
    color: black;
    border: 2px solid none;
    box-shadow: 5px 5px 20px white;
    padding: 0;
    


 }

/*****nav********/
.container .navbar {
    background-color: rgba(192,192,192,0.2);
    border: none;
    font-size: 1.5em
}



/*****main************/

#main {
    clear: both;
    margin: 100px 50px;    
    font-size: 2em;
    color: black;

}

#main p{
    margin-top: 30px;
   
}

/****support*****/
#support{
    
    padding: 50px;
    margin: 50px auto;

}

.pic {

    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
    background-color: white;    

}

.pic img {
    width: 100%;
}

/****footer****/

#author {
    
    width: 100%;
    margin: 0px;
    padding: 0 10px;
    height: 90px;
    text-align: right;
    background-color: rgb(0,0,0);
    color: white;
}

/******mobile display*****/
@media (min-width: 320px)  and (max-width: 567px) {

    
    header .navbar {
        height: 70px;
    }

    header .container-fluid {
        padding: 0 !important;
    }
    .log {
        height: 70px;
    }
    #cont {
        margin-top: 10px;
    }
    #cont li{
        font-size: 0.5em;
    }

    .container {
        margin-top: 50px;
    }

    .container .navbar {
        font-size: 1em;
    }
    #main {
        margin: 100px 15px;
        font-size: 1.5em;
    }
}

@media (min-width: 568px) and (max-width: 767px){

    header .navbar {
        height: 90px;
    }

    header .container-fluid {
        padding: 0 !important;
    }
    .log {
        height: 90px;
    }
    #cont {
        margin-top: 10px;
    }
    #cont li{
        font-size: 0.8em;
    }

    .container {
        margin-top: 50px;
    }

    .pic {
        margin-bottom: 10px;
    }

    #main {
        margin: 100px 15px;
        font-size: 1.8em;
    }


}

/*****ipad display********/
@media (min-width: 768px) and (max-width: 1024px) {
    

    .pic {
        margin: 10px;
    }

    #main {
        margin: 50px;
    }

}