

.container {
    background-color: white;
}


main h1 {
    text-align: center;
    vertical-align: middle;
    margin-bottom: 50px;

}

.title {
    display: inline-block;
    vertical-align: middle;
}

.list {
    margin:  30px 50px;
    font-size: 1.3em;
}

.container .navbar {
    background-color: white;
}

@media (min-width: 320px) and (max-width: 767px) {
   
    #inner {
        margin: 10px;
    }

    #inner .row {
        margin: 10px;
    }
    #inner .navbar {
        font-size: 0.9em;
    }


}